.App {
  text-align: center;
  width: 100vw;
}

.header{
  display: flex;
  gap: 32px;
  padding: 16px 0px 16px 0px;
  width: 100vw;
  align-items: center;
  background: #f2f2f2;
  flex-direction: column;

  @media (min-width:768px) {
    flex-direction: row;
  }
}

.divider{
  width: 100vw;
  height: 4px;
  background: #f26100;
}

.header-content{
  margin-right: 16px;
  max-width: 170px;
  min-width: 170px;
  text-align: left;
  padding-left: 16px;
}

.header-title{
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 125%;
  letter-spacing: .6px;
  text-transform: uppercase;
  color: #000000;
  margin:0;
}

.header-description{
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin:0;
  font-size: 14px;
    padding-top: 4px;
}

.optionsSelect{
  width: 260px;
  text-align: left;
}
